.DS_Store
.ftpconfig
*.DS_Store
*.txt
*.pth
data/*
experiment/*
result/*
__pycache__/
*.so
_ext/
test.sh
test2.sh
test3.sh
test.py
speed_normal.py
speed_inference.py
speed_moc_det.py
train_jhmdb_k7_ucf_pretrain.sh
test_video/
old_gifs/
*.ipynb
.ipynb_checkpoints/
result_video/
ACT2.py
train2.py
DCNv2_1.3/
DCNv2_1.5/
